<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      FORMACION ACADEMICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="danger">
          <h5>EDUCACION PRIMARIA </h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>EDUCACION SECUNDARIA </h5> 
        </ion-text>
      </ion-col>
      <ion-col width-10>
        <h5>Unidad Educativa Particular “ESTRELLITAS DEL FUTURO N°
          583”</h5>
          <h5> Unidad Educativa Fiscal “DR. CAMILO PONCE ENRIQUEZ”</h5>
 </ion-col>
      
    </ion-row>
    <ion-col>
      <ion-text color="danger">
        <h1>TITULO OBTENIDO</h1> 
      </ion-text>
      <ion-text color="danger">
        <h5>BACHILLER DE SERVICIOS ADMINISTRACIÓN DE SISTEMAS</h5> 
      </ion-text>
    </ion-col>
  </ion-grid>
</ion-content>
