<ion-header [translucent]="true">
  <ion-toolbar  color="primary"> 
    <ion-title color="secondary">
      CURSOS REALIZADOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="danger">
          <h5>PROGRAMA DE EDUCACION EN CULTURA TRIBUTARIA “SRI” </h5> 
        </ion-text>
      </ion-col>
      <ion-col width-10>
        <h5>: 1 DE OCTUBRE AL 30 DE
          NOVIEMBRE 2013</h5>        
 </ion-col> 
    </ion-row>
    <ion-text color="light">
      <h1>GOBIERNO PROVINCIAL DEL GUAYAS “CENTRO TECNOLÓGICO POPULAR” </h1> 
    </ion-text>
    <ion-text color="light">
      <h1>COMPUTACIÓN TECNOLÓGICA </h1> 
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-text color="danger">
          <h5>CONCEPTOS BÁSICOS</h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>APLICACIONES OFIMÁTICA</h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>TECNOLÓGICO AVANZADO </h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>DISEÑO GRAFICO </h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>EXCEL AVANZADO 2015</h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>CONTABILIDAD COMPUTARIZADA </h5> 
        </ion-text>
        <ion-text color="danger">
          <h5>PÁGINAS WEB</h5> 
        </ion-text>
      </ion-col>
      <ion-col width-10>
        <h5>:  4 Al 25 De Agosto 2015</h5>   
        <h5>:   1 Al 22 De Septiembre 2015</h5>  
        <h5>: 6 AL 27 DE OCTUBRE 2015
        </h5>  
        <h5>:  5 AL 24 DE NOVIEMBRE2015</h5>  
        <h5>:1 AL 22 DE DICIEMBRE </h5>     
        <h5>:4 AL 29 DE ENERO 2016 </h5>
        <h5>: 1 AL 26 DE FEBRERO 2016</h5>  
 </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
